<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muhammadfarooqui.neonate">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".N2001_N2011"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".N2012_N2016"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2017_N2022_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2023_N2026"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2051_N2078"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2080_N2107"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2110_N2189a"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2190_N2191"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2192_N2202"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2211_N2248_A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2211_N2248_B"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2211_N2248_C"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2251_N2260"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2271_N2284"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2291_N2304"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2311_N2317"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N2321_N2322"
            android:screenOrientation="portrait" />
    </application>

</manifest>